{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">Face Verification</h1>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"></button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="btn btn-primary ml-1" id="upload" href="/upload">Upload</a>
                <a class="btn btn-primary ml-1" id="verify" href="/verify">Verify</a>
            </div>
        </div>
    </nav>
{% block controller %}
    no images
{% endblock %}
{% endblock %}