{% extends "home.html" %} {% block title %}Upload{% endblock %}
{% block controller %}
    <h3 align="center">Select an image to upload</h3>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" id="inputGroupFile" autocomplete="off" multiple required>
            <label class="input-group-text" for="inputGroupFile">Upload Image</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}