{% extends "home.html" %} {% block title %}Verify{% endblock %}
{% block controller %}
    <h3 class="title" align="center">Verify Image</h3>
    <form method="POST" action="/verify" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" name="file1" class="form-control" id="inputGroupFile01" autocomplete="off" required>
            <label class="input-group-text" for="inputGroupFile01">Image 1</label>
        </div>
<!--        <div class="input-group mb-3">-->
<!--            <input type="file" name="file2" class="form-control" id="inputGroupFile02" autocomplete="off" required>-->
<!--            <label class="input-group-text" for="inputGroupFile02">Image 2</label>-->
<!--        </div>-->
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if pic %}
        <div class="box_result">
            <img class="center" src="data:image/jpeg; base64, {{ pic }}">
            {% if mean %}
                <h3 class="accuracy_result">Cosine distance score: {{ mean }}</h3>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}